<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SapB1Environments" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      
      <section name="Chamath" type="Sana.Commerce.eBusiness.SapB1.Infrastructure.Config.SapB1EnvironmentsHandler, Sana.Commerce.eBusiness.SapB1.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    </sectionGroup>
  </configSections>
  
  <!-- App Settings -->
  <appSettings>
    <add key="ActiveSapB1Environment" value="Chamath" lockItem="true" />
    <add key="UnityRegistrationAssemblyType" value="TestProjectTemplate.ServiceRegistration, TestProjectTemplate" />
  </appSettings>

  <SapB1Environments>
    <Chamath>
      <Environment Name="Chamath" ConDataBaseServer="SRI-NB0158" ConDataBaseName="SBODemoUS" ConDataBaseType="dst_MSSQL2014" ConDataBaseUserName="sa" ConDataBasePassword="095191217155000199034053136096194028144216231117069079245161107116176153178055013000134163022236" ConCompanyUserName="manager" ConCompanyPassword="062115166147013179130041185065154034233095082138" ConLanguage="ln_English" ConLicenseServer="SRI-NB0158" />
    </Chamath>
  </SapB1Environments>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.8.13.0" newVersion="5.8.13.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>